[Desktop Entry]
Type=Application
Name=Install SakuraOS
Exec=sakura-installer
Icon=sakura-installer
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=2
